<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/login.css">
<h1>Register</h1>

<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
     <div>
         <a href="/login">already have an account? log in</a>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
<script src="/js/form_val.js">
    </script>